.container{
  margin-top:100px;
  margin-left:130px;
  margin-right:130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-user-context{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.user{
  line-height: 1.5;
  font-weight:500;
  font-size:17px;
}

.show-context{
  line-height: 1.5;
  font-size:17px;
  font-weight:500;
  color:#242EE5;
}

.sentence{
  line-height: 1.5;
  font-weight:500;
  font-size:43px;
}

.container-sentence{
  margin-top:30px;
}
